.contactSection {
  text-align: center;

  .contactEntryText {
    text-align: left;
  }

  .contactLink {
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 1rem 2rem;
  }

  .contactText {
    padding: 0 12rem;
  }
}
