.contactSection {
  text-align: center;

  .contactEntryText {
    text-align: left;
  }

  .contactLink {
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 1rem 2rem;
  }

  .contactText {
    width: 55%;
    margin: auto;

    @media (max-width: 900px) {
      width: 70%;
    }

    @media (max-width: 600px) {
      width: initial;
    }
  }
}
