.experienceSection {
  .resumeLinkContainer {
    display: flex;
    justify-content: center;

    @media (max-width: 1169px) {
      justify-content: flex-start;
    }
  }

  .resumeLink {
    color: #b4b4b8;
    font-size: 0.9rem;

    &:hover {
      color: #64ffda;
    }

    &:hover {
      .resumeArrow {
        margin-bottom: initial;
      }
    }

    .resumeArrow {
      margin-bottom: -3px;
      transition: all 0.2s;
    }
  }
}
