@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body.no-scroll {
  height: 100vh;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.colored-text {
  color: $secondaryColor;
}

.bold {
  font-weight: 600;
}

.vertical-timeline-element-title {
  color: #64ffda;
}

.section {
  padding: 0 12rem;
}

.section-top-margin {
  margin-top: 5rem;
}

.section-line-height {
  line-height: 2;
}

.navbar-global {
  li a.active {
    &::after {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.btn {
  color: #64ffda;
  border: 1px solid #64ffda;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  background: none;

  &:hover {
    color: #000;
    background-color: #64ffda;
  }
}

.footer {
  text-align: center;
  padding: 3rem;
  font-size: 0.9rem;
}

html {
  color-scheme: dark;
  background-color: $primaryColor;
}

@media (min-width: 1600px) {
  body {
    max-width: 1500px;
    margin: auto;
  }
}
