.sidebar {
  height: 100%;
  width: 8%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  ul {
    list-style: none;
    text-align: center;

    li {
      padding: 6px 8px 30px 16px;
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

.socialIcon {
  margin-bottom: 30px;
  transition: all 0.3s;

  &:hover {
    color: #64ffda;
    padding-bottom: 5px;
  }
}
