.aboutSection {
  line-height: 2;

  .resumeLink {
    color: #64ffda;
    border: 1px solid #64ffda;
    padding: 0.5rem;
    transition: all 0.4s;

    &:hover {
      color: #000;
      background-color: #64ffda;
    }
  }
}
