.landingPage {
  min-height: 100vh;
  padding: 0 12rem;

  .landingPageContent {
    padding-top: 15%;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  .textContent {
    justify-self: start;
  }

  .name {
    font-size: 2.9rem;
    text-transform: uppercase;
  }

  .firstName {
    color: #64ffda;
  }

  .profilePic {
    object-fit: cover;
    border-radius: 10px;
    justify-self: end;
  }

  .role {
    line-height: 1.5;
    font-size: 2rem;
    color: #64ffda;
  }

  .catchphrase {
    line-height: 1.5;
  }

  .btnContainer {
    margin-top: 5rem;
  }

  .btn {
    color: #64ffda;
    border: 1px solid #64ffda;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

    &:hover {
      color: #000;
      background-color: #64ffda;
    }
  }

  .btnArrow {
    margin-left: 10px;
  }

  .socials {
    transition: all 0.3s;

    &:hover {
      color: #64ffda;
      padding-bottom: 5px;
    }
  }

  @media (max-width: 1200px) {
    .profilePic {
      width: 250px;
      height: 250px;
    }

    .role {
      font-size: 1.7rem;
    }

    .catchphrase {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 1240px) {
    padding: 0 5rem;
  }

  @media (max-width: 1024px) {
    .profilePic {
      display: none;
    }

    .landingPageContent {
      display: block;
      padding-top: 30%;
    }
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      font-size: 6vw;
    }

    .landingPageContent {
      padding-top: 0;
    }
  }

  @media (max-width: 500px) {
    padding: 0 2rem;
  }

  @media (max-width: 280px) {
    .role {
      font-size: 1.2rem;
    }

    .catchphrase {
      font-size: 1rem;
    }
  }

  @media (min-width: 1600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
